.gadgetJson {
  font-size: 0.9rem;
}

.gadgetName {
  color: lightblue;
}

.gadgetLocation, .gadgetState.gadgetLocation {
  color: orange;
}

.gadgetState {
  color: aquamarine;
}

.gadgetTransition {
  color: pink;
}

.gadgetJson .clickable {
  cursor: pointer;
  /* text-decoration: underline dotted; */
  font-weight: bold;
}